<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBABMSx8zj0W5evvNO45BDDZb2aF0d7scI</string>
	<key>GCM_SENDER_ID</key>
	<string>686754712481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>sc2024-96b48</string>
	<key>STORAGE_BUCKET</key>
	<string>sc2024-96b48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686754712481:ios:1daf5773783c5c272459e0</string>
	<key>DATABASE_URL</key>
	<string>https://sc2024-96b48-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>